<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Rooms</title>
</head>
<body>
    <p>

        {% for room in num %}


            <br>


            {{ room.num }}
            {{ room.room_type }}
            {{ room.check_out }}
            {{ room.room_clean }}
        <form action="/roomlist/" method="post">
        {% csrf_token %}
            <input id="room_num" type="hidden" name="room_num" value="{{ room.id }}" >
            <input id="button" type="hidden" name="button" value="checkout" >
            <input type="submit" value="Checkout">
        </form>
        <form action="/roomlist/" method="post">
        {% csrf_token %}
            <input id="room_num" type="hidden" name="room_num" value="{{ room.id }}" >
            <input id="button" type="hidden" name="button" value="clean" >
            <input type="submit" value="Clean">
        </form>
        {% endfor %}
    </p>

</body>
</html>